<div class="container-fluid">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mailsender</a>
    </nav>
</div>

<div class="container">
    <div style="margin-top:30px;">

       <div class="alert alert-success alert-dismissible fade show" role="alert">
          You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form role="form" class="form-horizontal" id="mail" novalidate>
            <div class="form-group">
                <label class="col-md-2 offset-md-2 control-label">To</label>
                <div class="col-md-8 offset-md-2">
                    <select placeholder="Enter emails" name="to[]" multiple="multiple" class="form-control emails" required></select>
                    <div class="invalid-feedback">
                        Please provide atleast one email.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 offset-md-2 control-label">Cc</label>
                <div class="col-md-8 offset-md-2">
                    <select placeholder="Enter emails" name="cc[]" multiple="multiple" class="form-control emails"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 offset-md-2 control-label">Bcc</label>
                <div class="col-md-8 offset-md-2">
                    <select placeholder="Enter emails" name="bcc[]" multiple="multiple" class="form-control emails"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 offset-md-2 control-label">Subject</label>
                <div class="col-md-8 offset-md-2">
                    <input type="text" placeholder="" name="subject" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid subject.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 offset-md-2 control-label">Message</label>
                <div class="col-md-8 offset-md-2">
                    <textarea rows="5" cols="30" class="form-control" name="body" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid message.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 offset-md-2">
                    <button class="btn btn-send" type="submit">Send</button>
                </div>
            </div>
        </form>
    <div>
</div>